NODE_ENV=development
PORT=4000
MONGODB_URI=mongodb://127.0.0.1:27017/placement_portal
FRONTEND_ORIGIN=http://localhost:5173
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
